/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Стилі для списку товарів */
.products {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Стилі для корзини */
.cart {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#cart-list {
    list-style-type: none;
    padding: 0;
}

#cart-list li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.remove-from-cart {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#total-price {
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
}

#clear-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Стилі для popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}
